@import "./normalize.css";
$background-color: white;
$second-color: #03a87c;
@font-face {
    font-family: "Hemera";
    src: url("/static/fonts/Hemera.ttf");
}

body {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    letter-spacing: -.42px;
    background-color: $background-color;
}

a {
    color: rgb(85, 26, 139);
    cursor: pointer;
    text-decoration: underline;
    &.no-underline {
        text-decoration: none;
    }
    &.no-style {
        @extend .no-underline;
        color: inherit;
    }
}

.uppercase {
    text-transform: uppercase;
}

.right {
    float: right;
}

.post-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post {
    clear: both;
    padding: 10px;
    border: 1px solid darken($color: $background-color, $amount: 10%);
    background: $background-color;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    .preview {
        overflow: hidden;
        margin: 2px 7px;
        width: 50px;
        height: 50px;
        flex-grow: 0;
        img {
            width: 100%;
        }
    }
    .vote-container {
        flex-grow: 0;
    }
    .post-details {
        flex-grow: 1;
        .title {
            color: #16A;
            font-size: 21px;
            text-decoration: none;
            user-select: none;
        }
        .tagline {
            font-size: 12px;
            color: rgb(122, 122, 122);
            .user {
                text-decoration: none;
                color: #369;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.vote-container {
    padding: 2px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    .vote-count {
        font-weight: bold;
        color: rgb(80, 80, 80)
    }
    .vote-button {
        width: 100%;
        height: 20px;
        cursor: pointer;
        background-image: url("/static/img/vote.png");
        transform-origin: center center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &.up {
            // background-color: green;
        }
        &.down {
            transform: rotateZ(180deg)
        }
        &.voted {
            background-image: url("/static/img/vote_active.png");
        }
    }
}

// creates nested style like .comment .comment ... .comment{...}
@mixin iterate($depth) {
    .comment {
        @if $depth % 2==0 {
            background-color: #f0f0f0;
        }
        @else {
            background-color: white;
        }
        @if $depth>0 {
            @include iterate($depth - 1)
        }
    }
}

.comment {
    border: 1px solid rgb(212, 212, 212);
    padding: 5px 0;
    background-color: white;
    margin-bottom: 10px;
    @include iterate(20);
    .wrapper {
        display: flex;
        .content {
            display: inline-block;
            .text {
                margin: 3px 0;
            }
        }
    }
    .replies {
        margin-left: 25px;
        margin-top: 10px;
    }
    .vote-container {
        width: 20px;
        padding: 0 5px;
        .vote-button {
            height: 10px;
        }
        .vote-count {
            font-size: 11px;
        }
    }
    .toggle:before {
        content: "[-]"
    }
    &.collapsed {
        .text,
        .controlls,
        .replies {
            display: none;
        }
        .toggle:before {
            content: "[+]"
        }
    }
}

.tab-list {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
    }
}

.post-content {
    .image {
        height: 500px;
    }
}

.header {
    width: 100%;
    background-color: $background-color;
    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        .title-bar {
            height: 60px;
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            .title {
                position: absolute;
                font-family: Hemera;
                text-transform: lowercase;
                font-size: 50px;
                margin: 0;
                top: 0;
                width: 200px;
                left: calc(50% - 100px);
                white-space: nowrap;
                text-align: center;
            }
        }
        .button-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            >button {
                margin-left: 7px;
                margin-right: 7px;
            }
        }
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    &.icon-button {
        opacity: .6;
        transition: opacity .2s;
        font-size: 24px;
        &:hover {
            opacity: 1;
        }
        &:active {
            transform: none;
            opacity: 1;
            color: black;
        }
        &.large {
            font-size: 36px;
        }
    }
    &.text-button {
        font-size: 14px;
        padding: 5px 7px;
        color: $second-color;
        &:hover,
        &:active {
            color: darken($color: $second-color, $amount: 10%)
        }
    }
}

.topic-list {
    width: 100%;
    background: $background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .list {
        width: 100%;
        overflow: hidden;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 10px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 15px;
                text-transform: uppercase;
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    button {
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}

.auth-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-family: Hemera;
        margin-bottom: 0;
        font-size: 40px;
    }
    h2 {
        font-size: 18px;
        font-weight: normal;
        max-width: 300px;
        text-align: center;
    }
    form {
        width: 100%;
        text-align: center;
        div {
            margin: 10px 0;
        }
        label {
            font-size: 14px;
            opacity: .6;
            padding-bottom: 10px;
        }
        input[type="text"],
        input[type="password"],
        textarea {
            font-size: 20px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            padding: 7px;
            color: rgba(0, 0, 0, 0.8);
            &:focus {
                outline: none;
            }
        }
        textarea {
            width: 100%;
            min-height: 150px;
        }
        input[type="submit"] {
            color: white;
            background-color: black;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 14px;
            cursor: pointer;
        }
    }
    &.full-width {
        input[type="text"] {
            width: 100%;
        }
        input[type="password"] {
            width: 100%;
        }
        textarea {
            width: 100%;
        }
    }
    .message {
        color: rgb(199, 10, 10);
        font-weight: bold;
        text-transform: uppercase;
    }
    .info {
        color: rgba(0, 0, 0, 0.788);
        font-size: 14px;
    }
}

#user-popup {
    display: none;
}

.popup-list {
    position: fixed;
    background-color: $background-color;
    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35);
    width: 260px;
    .inner {
        list-style: none;
        padding: 7px 0;
        margin: 0;
        li {
            a {
                font-size: 14px;
                opacity: .7;
                display: block;
                @extend .no-style;
                padding: 7px 25px;
            }
        }
    }
}

.tab-list {
    width: 100%;
    display: table;
    margin-bottom: 20px;
    padding: 0;
    li {
        display: table-cell;
        width: 33.3%;
        text-align: center;
        opacity: .6;
        padding: 10px 0;
        &.active {
            border-bottom: 1px solid $second-color;
        }
        a {
            @extend .no-style;
        }
    }
}

.page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
}

.topic-title {
    font-size: 46px;
    margin: 10px 0;
    span {
        padding-left: 3px;
        font-size: 11px;
        opacity: .5;
    }
}

.topic-description {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
    opacity: .6;
    margin-bottom: 10px;
}

hr {
    color: lighten($color: black, $amount: 80%);
    border-width: 1px;
    border-top: 0;
    border-style: solid;
    margin: 20px 0;
}