/* global variables */

$background-color: white;
$second-color: #03a87c;
@import "./mixins.scss";
@import "./general.scss";
@font-face {
    font-family: "Hemera";
    src: url("/static/fonts/Hemera.ttf");
}

#image-preview {
    display: none;
    width: 200px;
    margin: 15px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &.loaded {
        display: block;
    }
}

#user-popup {
    display: none;
}

.header {
    width: 100%;
    background-color: $background-color;
    padding: 0 10px;
    box-sizing: border-box;
    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        .title-bar {
            margin: 10px 0;
            width: 100%;
            position: relative;
            .lower-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
            }
            .title {
                position: absolute;
                font-family: Hemera;
                text-transform: lowercase;
                font-size: 50px;
                margin: 0;
                top: 0;
                width: 200px;
                left: calc(50% - 100px);
                white-space: nowrap;
                text-align: center;
                @media screen and (max-width: 930px) {
                    position: static;
                    width: 100%;
                }
                &.static {
                    position: static;
                    width: initial;
                }
            }
        }
        .button-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            button {
                margin-left: 7px;
                margin-right: 7px;
                display: inline-block;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .limit-chars {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 200px;
                    overflow: hidden;
                }
            }
        }
    }
}

.post-preview {
    border: 1px solid darken($color: $background-color, $amount: 10%);
    border-radius: 3px;
    background: $background-color;
    display: flex;
    flex-direction: row;
    height: 200px;
    overflow: hidden;
    @media (max-width: 650px) {
        flex-direction: column;
        height: auto;
    }
    .preview {
        overflow: hidden;
        width: 25%;
        max-width: 250px;
        height: 100%;
        flex-grow: 0;
        position: relative;
        flex-shrink: 0;
        @media (max-width: 650px) {
            width: 100%;
            max-width: none;
            height: 250px;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
            .overlay {
                pointer-events: none;
            }
        }
        .link {
            width: 100%;
            height: 100%;
            display: block;
            display: flex;
            align-items: center;
            text-decoration: none;
            img.favicon {
                position: absolute;
                width: 100%;
                @include blur(10px);
                opacity: .6;
                z-index: 1;
            }
            .host {
                position: relative;
                z-index: 2;
                display: inline-block;
                margin: 0 auto;
                .wrapper {
                    @include box-shadow(0,
                    0,
                    20px,
                    rgba(0, 0, 0, 0.212));
                    padding: 5px 7px;
                    border-radius: 5px;
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: relative;
                        &::after {
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: '\f1fe';
                            font-family: "Ionicons";
                            font-size: 25px;
                            color: white;
                            text-align: center;
                            background: $second-color;
                        }
                    }
                    span {
                        font-weight: normal;
                        font-size: 16px;
                        opacity: .8;
                        margin-left: 5px;
                        color: black;
                    }
                }
            }
        }
        .text {
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: url(/static/img/text_preview_icon.png);
            background-size: 100% 100%;
            display: block;
            opacity: .1;
            p {
                text-align: justify;
                @include blur(1px);
                padding: 10px; //width: 100%;
                height: 100%;
                margin: 0; //white-space: pre-wrap;
                font-size: 12px;
                display: block;
            }
        }
        .overlay {
            position: absolute;
            left: 5px;
            right: 5px;
            bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            z-index: 2;
            pointer-events: none;
            .vote-container {
                background-color: white;
                border-radius: 3px;
            }
        }
    }
    .post-details {
        padding: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-container {
            margin-bottom: 10px;
            overflow: hidden;
            .title {
                margin: 0;
                font-weight: bold;
                color: lighten(black, 10%);
                font-size: 21px;
                text-decoration: none;
                user-select: none;
                width: 100%;
                max-width: 400px;
                span.host {
                    font-size: 12px;
                    opacity: .5;
                }
            }
            hr {
                margin: 0;
                opacity: .4;
            }
            .date {
                margin: 0;
                font-size: 12px;
                opacity: .4;
                color: black;
            }
            .text-preview {
                font-size: 14px;
                opacity: .7;
                margin: 10px 0;
                float: left;
                @media (max-width: 800px) {
                    display: none;
                }
            }
        }
    }
}

.vote-container {
    pointer-events: all;
    padding: 2px 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    .vote-count {
        font-weight: bold;
        color: rgb(80, 80, 80);
        font-family: "Arial", sans-serif;
        margin: 0 5px;
        font-size: 18px;
        min-width: 30px;
        vertical-align: bottom;
    }
    .vote-button {
        display: block;
        font-size: 21px;
        cursor: pointer;
        color: lighten(black, 40%);
        &.down:before {
            transform: translateY(1px);
        }
        &.voted {
            color: $second-color;
        }
    }
}

.user-preview {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
        overflow: hidden;
        text-decoration: none;
        color: white;
        width: 40px;
        height: 40px;
        background-color: grey;
        border-radius: 50%;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .details {
        padding: 5px 10px;
        a {
            text-decoration: none;
            color: inherit;
            display: inline;
        }
        p {
            line-height: 16px;
        }
        .name {
            margin: 0;
            font-weight: 300;
            opacity: .8;
            font-size: 16px;
        }
        .link {
            font-weight: 300;
            margin: 0;
            opacity: .5;
            font-size: 14px;
        }
    }
}

.post {
    width: 100%;
    a {
        @extend .no-style;
    }
    .date {
        font-size: 12px;
        opacity: .4;
    }
    .header {
        display: flex;
        flex-direction: row;
        position: relative;
        left: -110px;
        width: calc(100% + 110px);
        padding: 0;
        @media (max-width: 1250px) {
            width: 100%;
            left: 0;
            flex-direction: column-reverse !important;
        }
        .vote-container {
            padding: 0;
            box-sizing: border-box;
            width: 110px;
            padding-right: 10px;
        }
        .title {
            font-family: "Lucida Grande", sans-serif;
            font-size: 42px;
            font-weight: 600;
            letter-spacing: -2px;
            line-height: 43.6833px;
            overflow-wrap: break-word;
            color: black;
            text-decoration: none;
            margin: 10px 0;
            display: inline-block;
            padding-right: 50px;
        }
        &.link {
            .title {
                color: $second-color;
                &:after {
                    content: "\f1fe";
                    display: inline-block;
                    font-family: "Ionicons";
                    padding-left: 10px;
                    color: black;
                    opacity: .3;
                    font-weight: 100;
                }
            }
        }
        .delete-post {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 28px;
            border: 1px solid $second-color;
            color: $second-color;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 10px;
            text-align: center;
            display: block;
            box-sizing: content-box;
            background: white;
            i {
                transform: translateY(-3px);
                display: block;
            }
        }
    }
    .user-preview {
        margin: 10px 0;
    }
    .post-content {
        p {
            white-space: pre-wrap;
            --x-height-multiplier: 0.375;
            --baseline-multiplier: 0.17;
            font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
            letter-spacing: .01rem;
            font-weight: 400;
            font-style: normal;
            font-size: 21px;
            line-height: 1.58;
            letter-spacing: -.003em;
            opacity: .8;
        }
        .image {
            width: 100%;
        }
    }
}

.topic-list {
    width: 100%;
    background: $background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .list-container {
        width: 100%;
        overflow: hidden;
    }
    .list {
        list-style: none;
        display: inline-flex;
        flex-wrap: nowrap;
        padding: 0;
        transition: transform .2s;
        li {
            display: inline-block;
            margin: 0 10px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 15px;
                text-transform: uppercase;
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    button {
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}

.auth-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-family: Hemera;
        margin-bottom: 0;
        font-size: 40px;
    }
    h2 {
        font-size: 18px;
        font-weight: normal;
        max-width: 300px;
        text-align: center;
    }
    form {
        width: 100%;
        text-align: center;
        div {
            margin: 10px 0;
        }
        .description {
            margin: 0;
            font-size: 11px;
            opacity: .5;
            display: block;
            overflow: hidden;
            height: 0;
            transition: height .2s;
        }
        label {
            font-size: 14px;
            opacity: .6;
            padding-bottom: 10px;
            display: block;
        }
    }
    &.full-width {
        input[type="text"] {
            width: 100%;
        }
        input[type="password"] {
            width: 100%;
        }
        textarea {
            width: 100%;
        }
    }
    .message,
    .global-message {
        color: rgb(199, 10, 10);
        opacity: 1;
    }
    .info {
        color: rgba(0, 0, 0, 0.788);
        font-size: 14px;
    }
}

.popup-list {
    position: fixed;
    background-color: $background-color;
    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35);
    width: 260px;
    .inner {
        list-style: none;
        padding: 7px 0;
        margin: 0;
        li {
            a {
                font-size: 14px;
                opacity: .7;
                display: block;
                @extend .no-style;
                padding: 7px 25px;
            }
        }
    }
}

.tab-list {
    width: 100%;
    display: table;
    margin-bottom: 20px;
    padding: 0;
    li {
        display: table-cell;
        width: 33.3%;
        text-align: center;
        opacity: .6;
        padding: 10px 0;
        &.active {
            border-bottom: 1px solid $second-color;
        }
        a {
            @extend .no-style;
        }
    }
    &.small {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        li {
            margin-bottom: -1px;
            display: block;
            width: auto;
            padding-right: 20px;
            padding-left: 20px;
            &.active {
                font-weight: bold;
            }
        }
    }
}

.topic-title {
    font-size: 46px;
    margin: 10px 0;
    overflow-wrap: break-word;
    span {
        padding-left: 3px;
        font-size: 11px;
        opacity: .5;
        overflow-wrap: normal;
        display: inline-block;
    }
}

.topic-description {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
    opacity: .6;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.user-large .user-preview {
    .icon {
        width: 75px;
        height: 75px;
    }
    .name {
        font-size: 36px;
        margin: 5px 0;
        font-weight: bold;
    }
}

.comments-list {
    padding: 0;
    margin: 0;
    .comment {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .reply {
            display: none;
        }
    }
}

.search-form {
    margin: 10px 0;
    input[type="text"] {
        font-size: 42px;
        width: 100%;
        box-sizing: border-box;
        @media screen and (max-width: 600px) {
            font-size: 7vw;
        }
    }
}

.nothing-here {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    p {
        @extend .no-results;
    }
}

.error-page {
    .info {
        display: flex;
        flex-direction: row;
        font-family: "Segoe UI", sans-serif;
        opacity: .8;
        align-items: baseline;
        justify-content: center;
        margin-bottom: 50px;
        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
            text-align: center;
        }
        .code {
            margin: 0;
            font-weight: 700;
            font-size: 200px;
            margin-right: 40px;
            @media screen and (max-width: 500px) {
                font-size: 40vw;
            }
        }
        .message {
            margin: 0;
            opacity: .5;
            font-size: 75px;
            @media screen and (max-width: 500px) {
                font-size: 15vw;
            }
        }
    }
    .home {
        text-align: left;
        font-size: 20px;
        margin-top: 20px;
        @media screen and (max-width: 500px) {
            font-size: 100%;
        }
        a:before {
            content: "\f3d5";
            font-family: Ionicons, sans-serif;
            font-size: 1em;
            padding-right: .5em;
            font-weight: bold;
        }
    }
}

@import "./comment.scss";