body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.right {
  float: right; }

.post-list {
  padding: 5px;
  margin: 0;
  list-style: none; }

.post-list .post {
  clear: both;
  padding: 5px;
  border: 1px dashed #bbbbbb;
  background: #f0f0f0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row; }

.post-list .post .vote-container {
  margin-right: 10px;
  flex-grow: 0; }

.post-list .post .post-details {
  flex-grow: 1; }

.post-list .post .post-details .title {
  color: #16A;
  font-size: 21px;
  text-decoration: none; }

.post-list .post .post-details .tagline {
  font-size: 12px;
  color: #7a7a7a; }

.post-list .post .post-details .tagline .user {
  text-decoration: none;
  color: #369; }

.post-list .post .post-details .tagline .user:hover {
  text-decoration: underline; }

.vote-container {
  padding: 2px 10px;
  text-align: center;
  display: inline-block; }

.vote-container .vote-count {
  font-weight: bold;
  color: #505050; }

.vote-container .vote-button {
  width: 100%;
  min-width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("/static/img/vote.png");
  transform-origin: center center;
  background-position: center center;
  background-repeat: no-repeat; }

.vote-container .vote-button.down {
  transform: rotateZ(180deg); }

.vote-container .vote-button.voted {
  background-image: url("/static/img/vote_active.png"); }

.comment {
  border: 1px solid #d4d4d4;
  background-color: #f0f0f0;
  padding: 5px 7px;
  margin-bottom: 10px; }

.comment .text {
  margin: 3px 0; }
